:root {
  /* Functional variable naming */
  --spacing-default: 1rem;
  --spacing-large: 2rem;

  --color-text: #333;
  --color-border: #444;
  --color-light-bg: rgba(255, 255, 255, 0.95);

  --transition-default: 0.3s;
  --transition-slow: 0.4s;
}
