.wp-block-custom-class-search {
  border: 1px dashed #ccc;
  padding: 1rem;
  background: #f8f9fa;
}

.search-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  svg {
    vertical-align: middle;
  }
}

#class-search-bar {
  .input-group {
    max-width: 500px;
    margin: auto;
  }

  ul.list-group {
    border-radius: 0.375rem;
  }

  .list-group-item:hover {
    background-color: #f8f9fa;
  }

  .list-group-item.active {
    background-color: #0d6efd;
    color: #fff;
  }
}
