@font-face {
  font-family: "zapfino_forte_lt_proregular";
  src: url("/fonts/zapfinoforteltpro-webfont.woff2") format("woff2"),
    url("/fonts/zapfinoforteltpro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zapfino_extra_ltone";
  src: url("/fonts/zapfinoextralt-one-webfont.woff2") format("woff2"),
    url("/fonts/zapfinoextralt-one-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zapfino_extra_lt_proregular";
  src: url("/fonts/zapfinoextraltpro-webfont.woff2") format("woff2"),
    url("/fonts/zapfinoextraltpro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zapfino_extra_lttwo";
  src: url("/fonts/zapfinoextralt-two-webfont.woff2") format("woff2"),
    url("/fonts/zapfinoextralt-two-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zapfino_forte_lt_proregular";
  src: url("/fonts/zapfinoforteltpro-webfont.woff2") format("woff2"),
    url("/fonts/zapfinoforteltpro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
